body {
    background-color: #121212;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(9, 1fr);
    gap: 8px;

}
/*para posicionar uma das formas e usando o position: relative; assim conseguimos usar o right e left definindo de esquerda a direita*/
.title {
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 40px;
    width: 200px;
    grid-column-start: 4;
    grid-row-start: 3;
    
}
/*o width e o height definem o tamanho ou a espessura e sempre sera em formar retas tipo um quadrado ode ser utilizado para criar sessões do site*/
#spotico {
    background-color: none;
    width: 30px;
    height: 30px;
    grid-column-start: 4;
    grid-row-start: 2;
    align-items: center;
}
input {
    background-color: #121212;
    position: relative;
    border: 1px solid rgb(99, 100, 101);
    transition: transform 0.1s ease-in-out;
    border-radius: 4px;
    color: white;
    width: 300px;
    height: 50px;
}
input:hover {
    position: relative;
    background-color: #121212;
    border-color: rgb(255, 255, 255);
    transform: scale(1.05);
    color: white;
}

#continuar {
    background-color: #1ed760;
    position: relative;
    border-radius: 30px;
    color: #121212;
    margin-top: 10px;
    
}